<section class="py-10 bg-white">
  <div class="bg-primary mb-5 px-5 py-4 min-h-60 flex flex-col justify-center">
    <div class="text-white/70 text-sm mb-4">
      <a routerLink="/" class="hover:text-white transition">Home</a><span> / </span>
      <span class="text-white">All Products</span>
    </div>
    <div class="flex items-center gap-5">
      <div
        class="w-16 h-16 rounded-2xl bg-white/20 backdrop-blur-sm flex items-center justify-center shadow-xl ring-1 ring-white/30"
      >
        <i class="fa-solid fa-box-open text-3xl text-white"></i>
      </div>
      <div class="text-white">
        <h2 class="text-5xl font-bold mb-2">All Products</h2>
        <p class="opacity-80">Explore our complete product collection</p>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-6">
    <h2 class="text-3xl font-semibold">Featured <span class="text-primary">Products</span></h2>

    <div class="mt-5 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      @for (
        product of productList()
          | paginate
            : {
                id: 'pageId',
                itemsPerPage: pageSize(),
                currentPage: currentPage(),
                totalItems: total(),
              };
        track product._id
      ) {
        <app-card [product]="product" />
      }
    </div>

    <pagination-controls
      id="pageId"
      (pageChange)="onPageChange($event)"
      [maxSize]="4"
      [directionLinks]="true"
      [autoHide]="true"
      [responsive]="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    >
    </pagination-controls>
  </div>
</section>
